language: python

python:
- '2.7'
- '3.2'
- '3.3'
- '3.4'
- 'nightly'

install:
- pip install ${DJANGO} Paver flake8 tmdbsimple

script:
- paver inspect
- paver test
- python setup.py sdist

env:
  global:
    secure: uI+0MUSsCbTAWlyODiAURJObLDZ1mnLlYQGhDFUW4FGFTIKjbX9aZiNv0J9P0qbQDsO8OrFRuAaa2L2z/09w54g39gsQUW2vBPL/W+6p+twMZl4NHT9vAYrfXRqylCG/gcswOKs2hTlHC3qbp3vBpoCm1nI0rlonyWJZnbEU+ZQ=
  matrix:
    - DJANGO="Django>=1.7,<1.8"
    - DJANGO="Django>=1.8,<1.9"

matrix:
  allow_failures:
  - python: 'nightly'
  exclude:
  - python: 'nightly'
    env: DJANGO="Django>=1.7,<1.8" # http://www.thefourtheye.in/2015/02/python-35-and-django-17s-htmlparseerror.html