## requirements.txt - Stuff that is required to get a basic MM2 up & running.

Django>=1.8,<1.9  # Django 1.8
Paver>=1.2  # First version with Python 3 support
tmdbsimple  # No version so we always keep up to date with TMDb API changes