{% extends "layout.html" %}
{% block headextra %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css">
{% endblock %}
{% block content %}
    {% if movies %}
    {% for movie in movies %}
        <div class="row">
            <div class="two columns">
                {% if movie.poster_path %}
                    {% if movie.adult %}
                        <a href="//image.tmdb.org/t/p/w396{{ movie.poster_path }}" data-lightbox="adult-movie-cover" data-title="{{ movie.title }}">
                            <img src="//i.imgur.com/QyLGEaZ.jpg" width="100%">
                        </a>
                    {% else %}
                        <a href="//image.tmdb.org/t/p/w396{{ movie.poster_path }}" data-lightbox="movie-cover" data-title="{{ movie.title }}">
                            <img src="//image.tmdb.org/t/p/w185{{ movie.poster_path }}" width="100%">
                        </a>
                    {% endif %}
                {% else %}
                    <img width="100%" src="//i.imgur.com/oAOmgZs.jpg"> <!-- TODO: Better solution -->
                {% endif %}
            </div>
            <div class="ten columns">
                {% block movie_info %}{% endblock %}
            </div>
        </div>
    {% endfor %}
    {% else %}
        <p>No movies found! :(</p>
    {% endif %}
{% endblock %}