{% extends "layout.html" %}
{% load humanize %}
{% block headextra %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css">
{% endblock %}
{% block pagetitle %}Add Movies{% endblock %}
{% block content %}
    {% for movie in movies %}
        <div class="row">
            <div class="two columns">
                {% if movie.poster_path %}
                    {% if movie.adult %}
                        <a href="https://image.tmdb.org/t/p/w396{{ movie.poster_path }}" data-lightbox="adult-movie-cover" data-title="{{ movie.title }}">
                            <img src="http://i.imgur.com/QyLGEaZ.jpg" width="100%">
                        </a>
                    {% else %}
                        <a href="https://image.tmdb.org/t/p/w396{{ movie.poster_path }}" data-lightbox="movie-cover" data-title="{{ movie.title }}">
                            <img src="https://image.tmdb.org/t/p/w185{{ movie.poster_path }}" width="100%">
                        </a>
                    {% endif %}
                {% else %}
                    <img width="100%" src="https://i.imgur.com/oAOmgZs.jpg"> <!-- TODO: Better solution -->
                {% endif %}
            </div>
            <div class="ten columns">
                <strong>{{ movie.title }}</strong><br />
                {{ movie.vote_average }}/10.0 ({{ movie.vote_count }} votes)<br />
                Release date: {{ movie.release_date|naturalday }}<br />
                #{{ movie.id|intcomma }}
            </div>
        </div>
    {% endfor %}
{% endblock %}